@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
h1{
    text-align: center;
    margin: 12px 0;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
    font-size: 16px;
    width: 40%;
    padding: 19px;
    margin: 16px;
    border: 2px solid #9d8e8e;
    border-radius: 12px;
    outline: none;
}
.btn{
    padding: 12px 16px;
    font-size: 18px;
    border: 2px solod black;
    border-radius: 10px;
    cursor: pointer;
    background-color: #2f2727;
    color: white;
}
.container{
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container h1{
    font-family:'Arima', cursive ;
    font-weight: 2000;
    font-size: 50px;
}